<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Upload a File</h1>
    <form enctype="multipart/form-data" action="/upload" method="POST">
        <input type="file" name="file" />
        <input type="submit" value="Upload File" />
    </form>

    <h2>Uploaded Files:</h2>

    {{if .Message}}
        <p>{{.Message}}</p>
    {{end}}

    <ul>
        {{range .Files}}
            <li>
                <div>
                    <p>{{.}}</p>
                    <div>
                        <a href="/view/{{.}}" target="_blank"><button>View</button></a>
                    </div>
                    <div>
                        <a href="/files/{{.}}"><button>Download</button></a>
                    </div>
                    <div>
                        <a href="/delete/{{.}}"><button>Delete</button></a>
                    </div>
                </div>
            </li>
        {{else}}
            <li>No files uploaded yet</li>
        {{end}}
    </ul>

    <a href="/logout">Logout</a>
</body>

</html>